html{
    font-size: 62.5%;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}
.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}
.logo{
    
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 2rem;
    margin: 5px;

}
.menu{
   
    display: flex;
    align-items: center;
}
.menu li a {
    padding: 10px 5px;
    transition: 0.3 ease-in-out;
    margin-left: 15px;
    font-size: 1.5rem;
}
.menu li a:hover{
    background-color: #5bc241;
    color:#ffffff
}
.menu li a.btn{
    background-color: #5bc241;
    border-radius: 10px;
    color: #ffffff;
    margin-left: 30px;
    padding: 10px 20px;
}

